apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  UMS_PORT: "8081"
  TWITTER_PORT: "8082"

  UMS_JDBC_URL: "jdbc:mysql://mysql:3306/appdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
  TWITTER_JDBC_URL: "jdbc:mysql://mysql:3306/appdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
---
apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
type: Opaque
stringData:
  DB_USERNAME: appuser
  DB_PASSWORD: apppass
